@charset "UTF-8";

//变量
$baseFontSize:12px;
$direction:bottom;
 
body,p,div,ol,ul,dd,dt,td,form,input,h1,h2,h3,h4,h5,h6,input,select,textarea{
    padding:0;
    margin:0;
}
body{
    font-family: "宋体",Arial;
    background-color: #f8f8f8;
    font:12px/1.5 "Microsoft YaHei",Tahoma,Helvetica,Arial;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
input{
    outline: none;
}


//header部分

.header{
    width: 100%;
    height: 60px;
    margin-bottom: 18px;
    background-color: #222222;
}
.header00{
    width: 1100px;
    height: 60px;
    margin: 0 auto;   
}
.header00_a{
    float: left;  
}
.header00_a a{
       display: block;
       float: left;
       font-size: 12px;
       padding: 0 20px;
       line-height: 60px;
       color: #eeeeee;
}
.header00_ul{
    float: right;
    li{
        float: left;
        line-height: 60px;
        p{
            font-size: 14px;
            color: #bbbbbb;
            float: left;
            line-height: 60px;
        }
        span{
            display: inline-block;
            float: left;
            width: 24px;
            height: 24px;
            margin-top: 20px;
            text-align: center;
            line-height: 22px;
            background-image: url(../images/page-step-bg.png);
            margin-right: 4px;
            color: #ffffff;
//          background-color: #FF4500;
        }
        &:nth-child(2n){
            width: 60px;
            height: 10px;
            margin-top: 25px;
            background-image: url(../images/page-step-bg.png);
            background-position: left -148px;
            
        }
        &:nth-child(1) span{
            background-position:0 -32px;
            
        }
    } 
}


//购物车
.shopping{
    width: 1100px;
    margin: 0 auto;
}
.shopping_top{
    width: 100%;
    height: 52px;
}
.shopping_top>div{
    float: right;
}
.shopping_top>div a{
    box-sizing: border-box;
    display: block;
    padding: 0 16px;
    margin-top: 12px;
    height: 28px;
    line-height:28px;
    border-radius: 2px;
    float:left;
    &:nth-child(2){
        background-color: #ff6a00;
        margin-left: 10px;
        color: #fff;
        border: 1px solid #ffaa00;
    }
    &:nth-child(1){
        background-color: #f0f0f0;
        color: #666666;
        border: 1px solid #c4c4c4;
    }
}
.shopping_main{
    background: #fff;
}
.shopping_mnav{
    padding-top: 24px;
    height: 48px;
    line-height: 48px;
    border-bottom:1px solid #e4e4e4;  
}
.shopping_mnav01{
    float: left;
}
.shopping_mnav01 input{
    border: none;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
}
.shopping_mnav02{
    float: right;
}
.shopping_mnav02>div{
    display: block;
    width: 150px;
    line-height: 48px;
    float: left;
    text-align: center;
    &:last-child{
        width: 200px;
    }
}
.shopping_mcarts{  //购物开始
    width: 1100px;
    height:80px;
    line-height: 80px;
    margin: 0 auto;
    background-color: #fff;
}
.shopping_mcarts01{
    float: left;
    height: 80px;
}
.shopping_mcarts01 input{
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 35px;
    float: left;
}
.shopping_mcarts01 a{
    float: left;
    line-height: 80px;
    color: #666666;
    img{
        width: 60px;
        height: 60px;
        margin: 10px;
    }
}
.shopping_mcarts02{
    float: right;
    height: 80px;
}
.shopping_mcarts02>div{
    display: block;
    width: 150px;
    line-height: 80px;
    float: left;
    text-align: center;
    &:last-child{
        width: 200px;
    }
}
.mcarts02_count{
    box-sizing: border-box;
    width:94px;
    height: 22px;
    margin: 36px auto;
    border: 1px solid #e8e8e8;
}
.mcarts02_count span{
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #666666;
    float: left;
    background-color: #e8e8e8;
    cursor: pointer;
}
.mcarts02_drop a{
    color: #666666;
}
.mcarts02_count input{
   float: left;
   width: 52px;
   text-align: center;
   border: none;
}
.shopping_bom{
    margin-top:10px;
    overflow: hidden;
}
.shopping_bom_01{
    width: 100%;
    height: 56px;
    .shopping_bom_01sub01{
        display: block;
        float: left;
        line-height: 56px;
        color:#666666;
    }
    .shopping_bom_01sub{
        float: right;
        h4{
           line-height: 56px;
           float: left; 
        }
        span{
            font-size: 16px;
            color: #ff6a00;
            line-height: 56px;
           float: left; 
        }
    }
}
.shopping_top02>div{
    width: 100%;
    float: right;
    a{
        height: 35px;
        line-height: 35px;
    }
}
.shopping_top02>div a:last-child{
    float: right;
}



/* footer部分 */
footer{
    width: 100%;
    height:340px;
    background-color: #3a3a3a;
}
.footer_top{
    width: 1200px;
    height: 185px;
    margin: 0 auto;
    padding-top: 35px;

}
.footer_top dl{
    margin: 0 60px;
    float: left;
}
.footer_top dl dd{
    font-size: 16px;
    color: #cccccc;
    line-height: 36px;
}
.footer_top dl dt{
    font-size: 11px;
    color: #cccccc;
    line-height: 28px;
}
.footer_top_weixin{
    float: left;
    margin-right: 90px;
}
.footer_top_lianxi{
    float: left;
}
.footer_top_lianxi h2{
    font-size: 26px;
    color: #ff6a00;
    line-height: 36px;
    text-align: center;
    font-weight: 100;
}
.footer_top_lianxi p{
    font-size: 12px;
    color: #cccccc;
    line-height: 22px;
    text-align: center;
}
.footer_top_lianxi p:last-child{
    line-height: 50px;
}
.footer_bom{
    width: 100%;
}
.footer_bom p{
    text-align: center;
    font-size: 12px;
    line-height: 36px;
    color: #cccccc;
}
.footer_bom p img{
    margin-left: 20px;
}
.footer_bom p a{
    color: #cccccc;
    margin:0 20px;
}
.footer_bom p:last-child a{
    margin-right:20px;
    margin-left: 0;
}
